<div class="sidebar">
    <header class="sidebar__header">
        <img src="/assets/logo.png" alt="logo" class="sidebar__logo">
        <h1 class="sidebar__titulo">silascou</h1>
    </header>
    <nav class="sidebar__nav">
        <ul class="sidebar__menu">
            <li class="sidebar__menu__item">
                <a routerLinkActive="sidebar__menu__link--active" routerLink="/dashboard" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        dashboard
                    </span>
                    <span class="menu__item__label">
                        Visão geral
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a routerLinkActive="sidebar__menu__link--active" routerLink="/produtos" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        inventory_2
                    </span>
                    <span class="menu__item__label">
                        Produtos
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        people
                    </span>
                    <span class="menu__item__label">
                        Clientes
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        inventory
                    </span>
                    <span class="menu__item__label">
                        Pedidos
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        shopping_cart
                    </span>
                    <span class="menu__item__label">
                        Compras
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        settings
                    </span>
                    <span class="menu__item__label">
                        Configurações
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <footer class="sidebar__footer">
        <ul class="sidebar__menu">
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="menu__item__label">
                        Ajuda
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="menu__item__label">
                        Contate-nos
                    </span>
                </a>
            </li>
        </ul>
    </footer>
</div>