<div class="sidebar">
    <header class="sidebar__header">
        <img src="/assets/logo.png" alt="logo" class="sidebar__logo">
        <h1 class="sidebar__titulo">silascou</h1>
    </header>
    <nav class="sidebar__nav">
        <ul class="sidebar__menu">
            <li class="sidebar__menu__item" *ngFor="let link of linksPrincipais">
                <a routerLinkActive="sidebar__menu__link--active" [routerLink]="link.path" class="sidebar__menu__link">
                    <span class="material-symbols-outlined menu__item__icon">
                        {{link.icone}}
                    </span>
                    <span class="menu__item__label">
                        {{link.label}}
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <footer class="sidebar__footer">
        <ul class="sidebar__menu">
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="menu__item__label">
                        Ajuda
                    </span>
                </a>
            </li>
            <li class="sidebar__menu__item">
                <a href="#" class="sidebar__menu__link">
                    <span class="menu__item__label">
                        Contate-nos
                    </span>
                </a>
            </li>
        </ul>
    </footer>
</div>