<header class="topbar">
    <h1 class="topbar__title">Bem-vindo de volta, Silas</h1>
    <p class="topbar__subtitle">Veja o que está rolando na sua loja hoje.</p>
    <div class="topbar__options">
        <span class="material-symbols-outlined topbar__btn-icon">
            search
        </span>
        <span class="material-symbols-outlined topbar__btn-icon">
            notifications
        </span>
        <div class="topbar__profile">
            <img src="" alt="foto perfil" class="topbar__profile__foto">
            <span class="topbar__profile__name">Silas Cunha</span>
            <span class="topbar__profile__expand material-symbols-outlined">
                expand_more
            </span>
        </div>
    </div>
</header>