<app-header></app-header>
<main class="dash">
    <app-principal-infos></app-principal-infos>
    <div class="grid pt-4">
        <div class="dash__item">
            <div class="card p-4 grafico">
                <app-line-chart></app-line-chart>
            </div>
        </div>
        <div class="dash__item-pequeno">
            <div class="card p-4 grafico">
                <app-doughnut-chart></app-doughnut-chart>
            </div>
        </div>
        <div class="col-12 lg:col-9">
            <div class="card p-4">Tabela</div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card p-4">Encher linguiça</div>
        </div>
    </div>

</main>