<app-header></app-header>
<main class="container">
    <app-principal-infos></app-principal-infos>
    <div class="grid pt-4">
        <div class="col-12 lg:col-9">
            <div class="card p-5">1</div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card p-5">2</div>
        </div>
    </div>
    <div class="grid pt-2">
        <div class="col-12 lg:col-9">
            <div class="card p-5">1</div>
        </div>
        <div class="col-12 lg:col-3">
            <div class="card p-5">2</div>
        </div>
    </div>
</main>