.sidebar {
    border-right: 1px solid #323232;
    height: 100%;
    width: 260px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
}

.sidebar__header {
    display: flex;
    align-items: center;
    padding: 42px 0;
    border-bottom: 1px solid #323232;
    border-radius: 0 0 20px 0 ;
    cursor: pointer;
}

.sidebar__logo {
    height: 28px;
    width: 28px;
    object-fit: contain;
}

.sidebar__header:hover .sidebar__logo {
    animation: rotate-anim;
    animation-duration: 1.2s;
}

@keyframes rotate-anim {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.sidebar__titulo {
    font-size: 22px;
    font-family: 'Major Mono Display', monospace;
    margin-left: 14px;
}

.sidebar__nav {
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    border-radius: 0 20px 20px 0;
    padding: 42px 0;
    overflow-y: auto;
    min-height: fit-content;
    flex-grow: 1;
}

.sidebar__menu {}

.sidebar__menu__item:not(:last-child) {
    margin-bottom: 4px;
}

.sidebar__menu__link {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: #b8b8b8;
    padding: 8px 0;
}

.menu__item__icon {
    font-size: 1.4em;
}

.menu__item__label {
    margin-left: 12px;
    font-size: 0.9em;
    font-weight: 400;
}

.sidebar__menu__link:hover .menu__item__icon {
    color: #CFF264;
}

.sidebar__menu__link:hover .menu__item__label {
    color: #f1f1f1;
}

.sidebar__footer {
    padding: 24px 0;
    border-top: 1px solid #323232;
    border-radius: 0 20px 0 0;
}

.sidebar__footer .menu__item__label {
    margin-left: 0;
}