<ul class="infos-list card flex">
    <li class="infos-list__item p-5 flex-1 infos-list__item--contrast">
        <div class="flex align-items-center mb-5">
            <div class="infos-list__item__icon mr-3">
                <span class="material-symbols-outlined">inventory</span>
            </div>
            <h2 class="infos-list__item__title">Vendas totais</h2>
        </div>
        <div class="infos-list__item__info mb-4">
            <span>R$ 1.267.490,39</span>
        </div>
        <div class="infos-list__item__stats flex">
            <div class="flex align-items-center is-better">
                <span class="material-symbols-outlined">north_east</span>
                <span class="ml-1">20,9%</span>
            </div>
            <div class="ml-3">
                <span class="infos-list__item__stats__diff">+18,4K esta semana</span>
            </div>
        </div>
    </li>
    <li class="infos-list__item p-5 flex-1">
        <div class="flex align-items-center mb-5">
            <div class="infos-list__item__icon mr-3">
                <span class="material-symbols-outlined">people</span>
            </div>
            <h2 class="infos-list__item__title">Visitantes</h2>
        </div>
        <div class="infos-list__item__info mb-4">
            <span>290.352</span>
        </div>
        <div class="infos-list__item__stats flex">
            <div class="flex align-items-center is-better">
                <span class="material-symbols-outlined">north_east</span>
                <span class="ml-1">15,1%</span>
            </div>
            <div class="ml-3">
                <span class="infos-list__item__stats__diff">+1,2K esta semana</span>
            </div>
        </div>
    </li>
    <li class="infos-list__item p-5 flex-1">
        <div class="flex align-items-center mb-5">
            <div class="infos-list__item__icon mr-3">
                <span class="material-symbols-outlined">star</span>
            </div>
            <h2 class="infos-list__item__title">Total de pedidos</h2>
        </div>
        <div class="infos-list__item__info mb-4">
            <span>3.570</span>
        </div>
        <div class="infos-list__item__stats flex">
            <div class="flex align-items-center is-better">
                <span class="material-symbols-outlined">north_east</span>
                <span class="ml-1">5,4%</span>
            </div>
            <div class="ml-3">
                <span class="infos-list__item__stats__diff">+5K esta semana</span>
            </div>
        </div>
    </li>
    <li class="infos-list__item p-5 flex-1">
        <div class="flex align-items-center mb-5">
            <div class="infos-list__item__icon mr-3">
                <span class="material-symbols-outlined">undo</span>
            </div>
            <h2 class="infos-list__item__title">Reembolsos</h2>
        </div>
        <div class="infos-list__item__info mb-4">
            <span>781</span>
        </div>
        <div class="infos-list__item__stats flex">
            <div class="flex align-items-center is-worst">
                <span class="material-symbols-outlined">south_east</span>
                <span class="ml-1">9,2%</span>
            </div>
            <div class="ml-3">
                <span class="infos-list__item__stats__diff">+18,4K esta semana</span>
            </div>
        </div>
    </li>
</ul>