.infos-list__item:not(:last-child) {
    border-right: 1px solid #323232;
}

.infos-list__item.infos-list__item--contrast {
    background-color: #8471f1;
    color: #000000;
    font-weight: 500;
}

.infos-list__item__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #353535;
    color: #d8d8d8;
}

.infos-list__item__icon span {
    font-size: 1.28rem;
}

.infos-list__item__info {
    font-size: 1.6rem;
    font-weight: 700;
    display: inline-block;
}

.infos-list__item__title {
    font-weight: 500;
}

.infos-list__item__stats, .infos-list__item__stats span {
    font-size: 0.9rem;
}

.infos-list__item__stats .is-better {
    color: #98ca60;
}

.infos-list__item__stats .is-worst {
    color: #ca6060;
}

.infos-list__item.infos-list__item--contrast .infos-list__item__stats * {
    color: #000000 !important;
}

.infos-list__item__stats__diff {
    opacity: 0.75;
}

.infos-list__item.infos-list__item--contrast .infos-list__item__stats__diff {
    opacity: 1;
}

.infos-list__item.infos-list__item--contrast .infos-list__item__icon {
    background-color: #1f1f1f;
}
